#img{
  width: 90%;
  height: auto;
} 

#ungrammary_font{
    color: #011E40;
    font-weight: 600;
    margin-top: -0.5rem;
}

.span{
    text-decoration:underline
}

#contact_btn{
    background: none;
    border-block-color:#0b6ddd ;
    color: #0b6ddd;
    font-weight: 500;
    margin-top: 0.5rem;
}
#dropdown{
    margin-top: .4rem;
}


@media (min-width: 375px) and (max-width: 767px) {
  #imgClass{
    margin-left: 7%;
  }
}

@media (min-width: 200px) and (max-width: 375px) {
    #imgClass{
      margin-left: 5%;
    }
}