.main_cont{
    width: 100%;
    height: 100%;
}
.inner_cont{
    padding-left: 8%;
    padding-right: 7%;
}
#img{
  width: 90%;
  height: 80%;
} 

#rightPortion{
  position:absolute;
  right:40px;
  @media all and (max-width:968px){   
   left:0;
   padding-left:20px
   } 
}

#ungrammary_font{
    font-size: 50px;
    color: #011E40;
}
#nav_tabs{
    font-size: 24px;
    font-weight: 500;
    color: #011E40;
    margin-top: 1rem;
}

.span{
    text-decoration:underline
}

#contact_btn{
    background: none;
    border-block-color:#0b6ddd ;
    color: #0b6ddd;
    font-weight: 500;
    font-size: 24px;
    margin-top: 1rem;
}
#dropdown{
    margin-top: .4rem;
}