body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color{
  color: #011E40;
}

a{
  font-weight: 600;
}


.nav_tabs{
  font-size: 24px;
  font-weight: 500;
  color: #011E40;
  margin-top: 1rem;
}

.nav_tabs_items{
  color: #011E40;
}

.m_auto{
  margin: auto;
}

@media (min-width: 510px) and (max-width: 767px) {
  .color{
    color: #011E40;
    font-size: 2rem;
    margin-left: 10vw;
  }
}

@media (min-width: 405px) and (max-width: 510px) {
  .color{
    color: #011E40;
    font-size: 1.3rem;
    margin-left: 8vw;
  }
}

@media (min-width: 200px) and (max-width: 405px){
  .color{
    color: #011E40;
    font-size: 1rem;
    margin-left:8vw;
  }
}





  



